body{
	max-width: 400px;
	margin: auto;
	font-family: Montserrat, Helvetica, Sans-Serif;
	-webkit-font-smoothing: antialiased;
	background-color: #E6E6E6;
	/*background-image: url(../img/learn.png);*/
    background-size: 100vw;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
}

body a:hover{
	opacity: .7;
}


h1{
	font-family: Lora, Georgia, Serif;
	text-align: center;
}


/*///////////////////////////////////
///////////////MENU////////////////
////////////////////////////////////*/


header{
	text-align: center;
	padding: 20px;
}

header nav a{
	margin: 10px;
	border-bottom: none;
	font-size: 20px;
	text-decoration: none;
}

header a:visited{
	color: #1B53C2;
}	

.gallerySlideshow{
	text-align: center;
	height: 38vh;
	padding: 50px;
}

.gallerySlideshow img{
	position: relative;
	top: 0;
	left: 0;
	
}

#behind {
    position: absolute;
    top: 89px;
    left: 13vw;
    width: 60%;
}    


/*AN EDUCATIONAL TOOL FOR CULTIVATING THE ART OF SERENDIPITY*/
h4{
	font-family: Montserrat, Helvetica, Sans-Serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
}



.button {
    font-family: Lora, Georgia, Serif;
    font-size: 26px;
    text-decoration: none;
    text-align: center;

    background-color: white;
    border: solid #1B53C2 2px;
    padding: 16px 32px;
    
    display: block;
    margin: 10px;
}


footer{
	padding: 10px;
}

h6{  /*footer*/
	font-size: 12px;
	line-height: 19px;
	opacity: .5;
	margin: 0;
}

h6 a:visited{
	color: black;
}

h6 a {
	color: grey;
	text-decoration: none;
	border-bottom: 1px solid black;
}



/*////////////////////////////////////////
///////////////   LEARN  ////////////////
///////////////////////////////////////*/


.LearnContainer{
	width: 100vw;
	border-collapse: collapse; 
	border-spacing: 0;
}

.LearnContainer td{
	border: 2px solid #B3B3B3;
	width: 50vw;
	padding: 18px;
	color: #B3B3B3;
}

/*.LearnContainer section{
	float: left;
	display: inline-block;
	border: 2px solid #B3B3B3;
	width: 48vw;
	text-align: center;
}*/

.TopMenuWhite{
	background-color: white;

	/*display: flex;*/
	position: fixed;
	top:0;
	left:0;
	right:0;
	width: 100vw;
	 -webkit-backface-visibility:hidden;
	 padding: 0;

	/*margin-top: 30px;*/
}

.TopMenuWhite nav{
	color: #1B53C2;
	padding-top: 22px;
	padding-bottom: 30px;
	vertical-align: middle;
}

#logo{
	font-family: Lora, Georgia, Serif;
	color: #B3B3B3;
	font-size: 50px;
	position: relative;
	top: 10px;	
}

#underline{
	border-bottom: 2px solid #1B53C2;
	padding-bottom: 2px;
}

#blue{
	color: #1B53C2;
}

.ContentWrapper{
	margin-top: 42vh;
	padding: 30px;
}


blockquote{
	font-family: Lora, Georgia, Serif;
	font-size: 23px;

	text-indent: -0.5em; /*Hangs quote*/
	padding: 0px;
	margin: 0px;
	/*-webkit-margin-end: 0px;*/
}

.source{
	font-family: Montserrat, Helvetica, Sans-Serif;
	text-decoration: none;
	color: grey;
	font-size: 16.5px;
}

blockquote img{
	position: relative;
	top: -168px;
	left: 53px;
	z-index: -1;
	opacity: .5;
	text-align: center;
}

.scroll-hint{
	display: block;
	text-align: center;
	position: relative;
	top: -50px;
}

.scroll-hint img{
	width: 20px;
	display: block;
	margin: auto;
	margin-top: 10px;
}


