@font-face {
font-family: Montserrat-Light;
font-weight: 200;
src: url("../fonts/Montserrat-Light.otf") format("opentype");
}

html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'Montserrat-Light', Montserrat, Helvetica, Sans-Serif;
    -webkit-font-smoothing: antialiased;
}

.loading{
    background-color:rgba(27,83,194,0.9);
    position: absolute;
    top: 78px;
    left: 0px;
    width: 100vw;
    height: 100vh;

    text-align: center;
    vertical-align: middle;

    display: none;
    z-index: 101;
}

.loading img{
   position: absolute;
   top: 50%;
   left: 50%;
   width: 100px;
   margin-top: -52px; /* Half the height */
   margin-left: -50px; /* Half the width */
}

#scroller {
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    -webkit-overflow-scrolling: touch;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    z-index: -1;
}

.canvas-wrapper{
    text-align: center;
    /*border: 1px solid blue;*/

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    max-width: 1000px;
    /*height: 90vh;*/
}

#paintCanvas {
    position: fixed;
    top: 154px;
    z-index: -10;
    border: 2px solid white;
}

.resizeable-drag {
    cursor: nwse-resize !important;
}

/*is this ever used?*/
/*.jux-back{
    height: 20px;
}*/

.scroll-img {
    margin-bottom: 400px;
}

.image-list {
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

/*for small phones*/
.image-list img{
    transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    -webkit-transform: scale(0.7, 0.7);
}

/*for bigger phones*/
@media screen and (min-width: 350px) {
    .image-list img{    
        transform: scale(0.8, 0.8);
        -ms-transform: scale(0.8, 0.8);
        -webkit-transform: scale(0.8, 0.8);
    }
}   

/*For desktop*/
@media screen and (min-width: 800px) { 
    .image-list img{
        transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
    }
}   


/*////////////////////////////////////////
///////////////   JUXTAGRAPH  ////////////
///////////////////////////////////////*/

.jux-intro{
    padding-top: 23vh;
    text-align: center;
}

@media screen and (min-width: 800px) { /*For desktop*/
    .jux-intro{
        padding-top: 30vh;
        text-align: center;
    }
}

.jux-intro p{
    margin-top: 5px;
    line-height: 22px;
}

.jux-title{
    font-family: Lora, Georgia, Serif;
    font-weight: 700;
    font-size: 30px;

    margin: 0;

}

.instructions{
    max-width: 269px;
    margin: auto;
    margin-bottom: 130px;
    margin-top: 40vh;
}

.instructions ol{
    padding-left: 15px;
}

.instructions li{
    margin-bottom: 14px;
}

.jux-scroll-hint{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    margin-top: 25vh;
}

@media screen and (min-height: 650px) { /*For iphone 6*/
    .jux-scroll-hint{
        margin-top: 33vh;
    }
}

.jux-scroll-hint img{
    width: 20px;
    display: block;
    margin: auto;
    margin-top: 10px;
}


/*/////////////////////////////
     TOP OF EXPORT PANEL    
/////////////////////////////*/

.top-export-panel{
    position: absolute;
    top: 79px;

    background-color: white;
    display: none;

    border-left: none;
    border-right: none;

    border-bottom: 1px solid #B3B3B3;
    border-top: 1px solid #B3B3B3;

    width: 100vw;
    z-index: 100;
}

.jux-back-button{
    color: #B3B3B3;
    cursor: pointer;

    background-color: white;
    padding: 22px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    /* font-family: Montserrat, Helvetica, Sans-Serif; */
    font-size: 20px;
    border-right: 1px solid #B3B3B3;
    border-collapse: collapse;
    display: inline-block;
    float: left;

    margin: 0px;
    width: 25vw;

}

.jux-back-button img{
    height: 17px;
    margin-right: 10px;
    margin-bottom: -2px;
    margin-left: 10px;
}

.jux-back-button a{
    color: #999999;
}

.top-export-panel form{
    display: inline-block;
}    

.description {
    font-family: 'Montserrat-Light', Montserrat, Helvetica, Sans-Serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    border: 0px;

    vertical-align: top;
    padding: 15px;
    /*width: 100vw;*/
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    z-index: 100;
    resize: none;
    
    -webkit-appearance: none; /*To prevent inner shadow*/
    -webkit-border-radius: 0; /*To prevent corner rounding on mobile*/
    margin: 0px;

    display: inline-block;
    width: 74vw;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}



/*/////////////////////////////
     BOTTOM OF EXPORT PANEL    
/////////////////////////////*/

.reorder-button{
    /*position: absolute;
    bottom: 100px;
    right: 100px;*/

    font-size: 16px;
    color: #1B53C2;

    max-width: 170px;
    padding: 11px;
    background-color: white;
    border: 1px solid #1B53C2;

    margin-bottom: 2px;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.reorder-button img{
    margin-left: 0px;
    margin-right: 10px;
}    

.bottom-export-panel{
    display: none;

    position: fixed;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
     -webkit-backface-visibility:hidden;
    padding: 0;


    text-align: center;
    z-index: 100;
}

.bottom-export-panel a {
    text-decoration: none;
}



.share-panel-wrapper{
    width: 100%;
    /*border: 1px solid red;*/
}


.share-panel{
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;

    /*border: 1px solid blue;*/

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.export {
    cursor: pointer;
}

.export-button{
    padding: 17px;
    width: 100vw;
    /*max-width: 400px;*/
    height: 22px;
    display: block;

    background-color: #1B53C2;
    color: white;
    font-family: Montserrat, Helvetica, Sans-Serif;
    -webkit-font-smoothing: antialiased;
    font-size: 17px;
    text-align: center;
    /*line-height: 22px;*/
    /*vertical-align: text-top;*/
}

/*"Add to gallery"*/
.button-label{
    margin-right: 30px;
    margin-top: 1px;
    /*display: inline-block;*/

}

.button-label img {
    height: 12px;
    margin-left: 10px;
}


/*/////////////////////////////
     DESKTOP EXPORT PANEL (puts everything in right column)
/////////////////////////////*/
@media screen and (min-width: 950px) {
    .juxtagraph-wrapper{
        /*border: 1px solid red;*/
    }

    .all-export-panels{
        position: absolute;
        right: 0;
        padding-right: 20px;

        height: 100vh;
        width: 24vw;
        padding-top: 52px;

        /*border: 1px solid blue;*/
    }

    .top-export-panel{
        position: static;

        background-color: white;

        border: 1px solid #B3B3B3;

        width: 100%;
        z-index: 100;
    }

    .bottom-export-panel{
    
        position: static;
        bottom:0;
        left:0;
        right:0;
        width: 100%;
         -webkit-backface-visibility:hidden;
        padding: 0;


        text-align: center;
        z-index: 100;
    }

    .jux-back-button{
        color: #B3B3B3;
        cursor: pointer;

        background-color: white;
        padding: 11px;
        padding-left: 7px;
        padding-right: 0px;
        text-align: center;
        /* font-family: Montserrat, Helvetica, Sans-Serif; */
        font-size: 16px;
        border-bottom: 1px solid #B3B3B3;
        border-right: 0px;
        border-collapse: collapse;
        display: block;

        margin: 0px;
        width: auto;
        text-align: left;
        float: none;
    }

    .jux-back-button img{
        height: 15px;
    }    

    .description {
        font-size: 16px;

        vertical-align: top;
        padding: 15px;
        /*width: 100vw;*/
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;

        z-index: 100;
        resize: none;
        
        -webkit-appearance: none; /*To prevent inner shadow*/
        -webkit-border-radius: 0; /*To prevent corner rounding on mobile*/
        margin: 0px;

        display: block;
        width: 100%;
    }

    .top-export-panel form{
    display: block;
    } 

    .export-button{
        padding: 17px;
        width: auto;
        /*max-width: 400px;*/
        height: 22px;
        display: block;

        background-color: #1B53C2;
        color: white;
        font-family: Montserrat, Helvetica, Sans-Serif;
        -webkit-font-smoothing: antialiased;
        font-size: 17px;
        text-align: center;
        /*line-height: 22px;*/
        /*vertical-align: text-top;*/
    }

    /*"Add to gallery"*/
    .button-label{
        margin-right: -2px;
        margin-top: 1px;
        display: inline-block;
    }

    .button-label img {
        height: 12px;
        margin-left: 10px;
    }

    .reorder-button{
        position: absolute;
        bottom: 200px;
        left: 0;
        margin: 0;

        font-size: 16px;
        color: #1B53C2;

        max-width: 170px;
        padding: 11px;
        background-color: white;
        border: 1px solid #1B53C2;

        margin-bottom: 2px;
    }

}







