@font-face {
font-family: Montserrat-Light;
font-weight: 200;
src: url("../fonts/Montserrat-Light.otf") format("opentype");
}

html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'Montserrat-Light', Montserrat, Helvetica, Sans-Serif;
    -webkit-font-smoothing: antialiased;
}

#scroller {
    overflow: scroll;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.canvas-wrapper{
    text-align: center;
}

#paintCanvas {
    position: fixed;
    top: 184px;
    z-index: -1;
    border: 2px solid white;
}

.resizeable-drag {
    cursor: nwse-resize !important;
    z-index: 1000 !important;
}

/*is this ever used?*/
/*.jux-back{
    height: 20px;
}*/

.scroll-img {
    margin-bottom: 400px;
}

.image-list {
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

.image-list img{
    /*width: 150px;*/
}


/*////////////////////////////////////////
///////////////   JUXTAGRAPH  ////////////
///////////////////////////////////////*/

.jux-intro{
    padding-top: 30vh;
    text-align: center;
}

.jux-intro p{
    margin-top: 5px;
}

.jux-title{
    font-family: Lora, Georgia, Serif;
    font-size: 30px;

    margin: 0;

}

.instructions{
    max-width: 269px;
    margin: auto;
    margin-bottom: 130px;
    margin-top: 40vh;
}

.instructions ol{
    padding-left: 15px;
}

.instructions li{
    margin-bottom: 14px;
}

.jux-scroll-hint{
    /*z-index: -1;*/
    display: block;
    /*position: absolute;*/
    text-align: center;
    bottom: 10px;
    margin: 5% auto; /*// Will not center vertically and won't work in IE6/7.*/
    left: 0;
    right: 0;

    margin-top: 25vh;
}

.jux-scroll-hint img{
    width: 20px;
    display: block;
    margin: auto;
    margin-top: 10px;
}



/*/////////////////////////////
     TOP OF EXPORT PANEL    
/////////////////////////////*/

.top-export-panel{
    position: absolute;
    top: 79px;

    background-color: white;
    display: none;

    border-left: none;
    border-right: none;

    border-bottom: 1px solid #B3B3B3;
    border-top: 1px solid #B3B3B3;

    width: 100vw;
}

.jux-back-button{
    background-color: white;
    padding: 22px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
    /* font-family: Montserrat, Helvetica, Sans-Serif; */
    font-size: 20px;
    border-right: 1px solid #B3B3B3;
    border-collapse: collapse;
    display: inline-block;
    float: left;

    margin: 0px;
    width: 25vw;

}

.jux-back-button img{
    height: 17px;
    margin-right: 10px;
    margin-bottom: -2px;
    margin-left: 10px;
}

.jux-back-button a{
    color: #999999;
}

.top-export-panel form{
    display: inline-block;
}    

.description {
    font-family: 'Montserrat-Light', Montserrat, Helvetica, Sans-Serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    border: 0px;

    vertical-align: top;
    padding: 15px;
    /*width: 100vw;*/
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    z-index: 100;
    resize: none;
    
    -webkit-appearance: none; /*To prevent inner shadow*/
    -webkit-border-radius: 0; /*To prevent corner rounding on mobile*/
    margin: 0px;

    display: inline-block;
    width: 74vw;
}



/*/////////////////////////////
     BOTTOM OF EXPORT PANEL    
/////////////////////////////*/

.reorder-button{
    position: absolute;
    bottom: 100px;
    right: 100px;
}

.reorder-button img{
    width: 66px;
}    

.export-panel{
    display: none;

    position: fixed;
    bottom:0;
    left:0;
    right:0;
    width: 100vw;
     -webkit-backface-visibility:hidden;
    padding: 0;
    
    background-color: white;
    border-top: 1px solid #B3B3B3;
}

.export-panel a {
    text-decoration: none;
}


.export-button{
    padding: 17px;
    width: 100vw;
    height: 22px;
    display: block;

    background-color: #1B53C2;
    color: white;
    font-family: Montserrat, Helvetica, Sans-Serif;
    -webkit-font-smoothing: antialiased;
    font-size: 17px;
    text-align: center;
    /*line-height: 22px;*/
    /*vertical-align: text-top;*/
}

/*"Add to gallery"*/
.button-label{
    margin-right: 30px;
    margin-top: 1px;
    /*display: inline-block;*/

}

.button-label img {
    height: 12px;
    margin-left: 10px;
}



