html, body {
    height: 100%;
}

#paintCanvas {
    position: fixed;
    top: 126px;
    left: 0px;
    z-index: -1;
    border: 2px solid blue;
}

.jux-back{
    height: 20px;
}

.scroll-img {
    margin-bottom: 400px;
}

.image-list {
    list-style-type: none;
    text-align: center;
}

.description {
    display: none;
    width: 100%;
    height: 45px;
    z-index: 100;
}

.export-panel {
    display: none;
}
