@font-face {
font-family: Montserrat-Light;
font-weight: 200;
src: url("../fonts/Montserrat-Light.otf") format("opentype");
}

body{
	/*max-width: 400px;*/
	/*margin: auto;*/
	font-family: 'Montserrat-Light', Montserrat, Helvetica, Sans-Serif;
	-webkit-font-smoothing: antialiased;
	background-color: #E6E6E6;
	/*background-image: url(../img/new-menu.png);*/
    background-size: 100vw;
    background-repeat: no-repeat;
    /*padding: 0px;
    margin: 0px;*/
}

strong{
	font-family: Montserrat, Helvetica, Sans-Serif;
	font-weight: 700;
}

a:-webkit-any-link {
    /*color: #1B53C2;*/
    text-decoration: none;
    cursor: auto;
}

body a:hover{
	opacity: .7;
}


h1{
	font-family: Lora, Georgia, Serif;
	text-align: center;
}


/*///////////////////////////////////
///////////////MENU/////////////////
////////////////////////////////////*/

.StickyMenu{
	position: fixed;
	top:0;
	left:0;
	right:0;
	width: 100vw;
	 -webkit-backface-visibility:hidden;
	padding: 0;
	text-align: center;
}

/*/////////////////////////////
           TOP NAV     
/////////////////////////////*/

.TopNav {
	color: #1B53C2;
	/*padding-top: 22px;*/
	padding-bottom: 15px;
	vertical-align: middle;
	background-color: white;
}

.TopNav a{
	margin: 18px;
	border-bottom: none;
	font-size: 20px;
	text-decoration: none;
	color: #1B53C2;
}

.topnav-links {
	display: inline-block;
	/*max-width: 500px;*/
}

.TopNav-links a{
	float: right;
}

#logo{
	font-family: Lora, Georgia, Serif;
	color: #B3B3B3;
	font-size: 50px;
	position: relative;
	top: 10px;
	/*left: -20px;*/
}

#underline{
	border-bottom: 1px solid #1B53C2;
	padding-bottom: 2px;
}



/*/////////////////////////////
          BOTTOM NAV     
/////////////////////////////*/
.BottomNav{
	width: 100vw;
	border-collapse: collapse; 
	border-spacing: 0;
}

.BottomNav td{
	font-size: 13px;
	font-weight: 700;

	text-transform: uppercase;
	letter-spacing: 1px;

	color: #B3B3B3;

	border: 1px solid #B3B3B3;
	background-color: #F2F2F2;
	width: 50vw;
	height: 29px;
	/*padding: 18px;*/
	padding-top: 10px;
	padding-bottom: 8px;
	
	
}

.BottomNav img{
	height: 28px;
}

.BottomNav a {
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: inherit;
}

.TableLink{
	width: 100%;
	height: 100%;
}


#selected-nav{
	color: #1B53C2;
	background-color: white;
}

.BottomNav td  {

}

/*///////////////////////////////////
               HOME
////////////////////////////////////*/

.centered-wrapper{
	/*display: inline-block;*/
	margin: 0 auto;
	max-width: 375px;
	text-align: center;
}

.centered-wrapper a {
	color: #1B53C2;
}

.gallerySlideshow{
	text-align: center;
	margin-top: 165px;
	height: 183px;
	padding: 50px;
}

.gallerySlideshow img{
	position: relative;
	top: 0;
	left: 0;
	margin: auto;
}

#behind {
    margin-top: -291px;
    width: 230px;
}    


/*AN EDUCATIONAL TOOL FOR CULTIVATING THE ART OF SERENDIPITY*/
h4{
	font-family: Montserrat, Helvetica, Sans-Serif;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
}

.button {
    font-family: Lora, Georgia, Serif;
    font-size: 26px;
    text-decoration: none;
    text-align: center;

    background-color: white;
    border: solid #1B53C2 2px;
    padding: 16px 32px;
    
    display: block;
    margin: 10px;
}


footer{
	padding: 10px;
}

h6{  /*footer*/
	font-family: Montserrat, Helvetica, Sans-Serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 19px;
	opacity: .5;
	margin: 0;
}

h6 a:visited{
	color: black;
}

h6 a {
	color: grey;
	text-decoration: none;
	border-bottom: 1px solid black;
}



/*////////////////////////////////////////
                  LEARN  
///////////////////////////////////////*/

.ContentWrapper{
	margin-top: 42vh;
	padding: 30px;
	text-align: center;
}

.ContentWrapper a{
	  /*color: #1B53C2;*/
}

blockquote{
	font-family: Lora, Georgia, Serif;
	font-size: 21px;
	text-align: left;
	text-indent: -0.5em; /*Hangs quote*/
	padding: 0px;
	margin: 0 auto;

	max-width: 330px;
}


.source{
	font-family: Montserrat, Helvetica, Sans-Serif;
	text-decoration: none;
	color: grey;
	font-size: 16.5px;
}

.intro-quote{
	text-align: center;
}

.intro-quote img{
	position: relative;
	top: -168px;
	z-index: -1;
	opacity: .5;
	text-align: center;
}

.scroll-hint{
	display: block;
	text-align: center;
	position: relative;
	top: -77px;
	z-index: -1;
}

.scroll-hint img{
	width: 20px;
	display: block;
	margin: auto;
	margin-top: 10px;
}

#placeholder-image {
	width: 90vw;
	margin: auto;
	margin-left: -22px;
}

#steps-button{
	font-size: 20px;
	padding: 19px;
}




/*/////////////////////////////
          	CLOSEUP     
/////////////////////////////*/

.GalleryNav{
	width: 100vw;
	border-collapse: collapse; 
	border-spacing: 0;
	border-top: 1px solid #B3B3B3;
	border-bottom: 1px solid #B3B3B3;
}

.GalleryNav td{
	font-size: 13px;
	font-weight: 700;

	text-transform: uppercase;
	letter-spacing: 1px;

	color: #B3B3B3;

	background-color: white;
	width: 50vw;
	height: 29px;
	/*padding: 18px;*/
	padding-top: 10px;
	padding-bottom: 8px;
	
	
}

.GalleryNav img{
	height: 28px;
}

.GalleryNav a {
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: inherit;
}

.TableLink{
	width: 100%;
	height: 100%;
}

.closeup-arrow img{
	height: 22px;
}

.closeup-info-panel{
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    width: 100vw;
     -webkit-backface-visibility:hidden;
    padding: 0;
    
    background-color: white;
    border-top: 1px solid #B3B3B3;
}

.closeup-info-panel a {
    text-decoration: none;
}

.caption{
	font-size: 15px;
	line-height: 21px;

	padding: 25px;
	padding-top: 17px;
	padding-bottom: 16px;

	border-bottom: 1px solid #B3B3B3;
	border-collapse: collapse;

	/*Eventually I'll need to define the height here.*/
}


/*This effects both on export screen and closeup screen*/
.share-panel{
    padding: 22px;
    padding-left: 43px;
    color: #999999;
    font-size: 20px;
}

.share-panel img{
    height: 23px;
    margin-left: 46px;
    margin-bottom: -4px;

}

/*/////////////////////////////
          GALLERY     
/////////////////////////////*/

.gallery {
    position: fixed;
    top: 189px;
}

.gallery-list {

  		padding: 0.2em;
			overflow: hidden;
		}
		.gallery-list li {
			float: left;
			width: 50%;
			padding: 20px;
		}
		.gallery-list img {
			display: block;
		}
		.gallery-list li:nth-child(odd) {
			clear: left;
		}
	
		@media screen and (min-width: 1000px) {
			.gallery-list li {
		    	width: 33.3333333333333333%; 
		  	}
		  	.gallery-list li:nth-child(3n+1) {
		  		clear: left;
		  	}
		  	.gallery-list li:nth-child(odd) {
				clear: none;
			}
		}
/*		@media screen and (min-width: 55em) {
			.gallery-list li {
		    	width: 25%; 
		  	}
		  	.gallery-list li:nth-child(4n+1) {
		  		clear: left;
		  	}
		  	.gallery-list li:nth-child(3n+1) {
				clear: none;
			}
		}*/
/*		@media screen and (min-width: 72em) {
			.gallery-list li {
		    	width: 20%; 
		  	}
		  	.gallery-list li:nth-child(5n+1) {
		  		clear: left;
		  	}
		  	.gallery-list li:nth-child(4n+1) {
				clear: none;
			}
		}
		@media screen and (min-width: 90em) {
			.gallery-list li {
		    	width: 16.666666666%; 
		  	}
		  	.gallery-list li:nth-child(6n+1) {
		  		clear: left;
		  	}
		  	.gallery-list li:nth-child(5n+1) {
				clear: none;
			}
		}
*/


