@font-face {
font-family: Montserrat-Light;
font-weight: 200;
src: url("../fonts/Montserrat-Light.otf") format("opentype");
}

html{
	    overflow-x: hidden;
}

body{
	/*max-width: 400px;*/
	/*margin: auto;*/
	font-family: 'Montserrat-Light', Montserrat, Helvetica, Sans-Serif;
	-webkit-font-smoothing: antialiased;
	/*background-image: url(../img/new-menu.png);*/
    /*background-size: 100vw;*/
    /*background-repeat: no-repeat;*/
    padding: 0px;
    margin: 0px;

    background-color: #E6E6E6;
    z-index: -2;
}
/*
img{
	max-width: 100vw;
}*/

p{
	font-size: 17px;
	line-height: 27px;
	margin: 0px;
}

strong{
	font-family: Montserrat, Helvetica, Sans-Serif;
	font-weight: 700;
}

a:-webkit-any-link {
    /*color: #1B53C2;*/
    text-decoration: none;
    cursor: auto;
}

body a:hover{
	opacity: .7;
}


h1{
	font-family: Lora, Georgia, Serif;
	text-align: center;
}

h2{
	font-family: Montserrat, Helvetica, Sans-Serif;
	font-size: 30px;
	font-weight: 700;
	margin: 0px;
	margin-bottom: 5px;
}


/*///////////////////////////////////
///////////////MENU/////////////////
////////////////////////////////////*/

.StickyMenu{
	/*overflow: hidden;*/
	/*position: absolute;*/
	width: 100vw;
	-webkit-backface-visibility:hidden;
	padding: 0;
	text-align: center;
	z-index: 9;

	/*background-color: white;*/
}

#fixed{
	position: fixed;
	 -webkit-backface-visibility:hidden;
	top:0px;
	left:0;
	/*margin-top: -48px;*/
}

/*/////////////////////////////
           TOP NAV     
/////////////////////////////*/

.TopNav {
	color: #1B53C2;
	/*padding-top: 22px;*/
	padding-bottom: 38px;
	vertical-align: middle;

	background-color: white;
}

.TopNav a{
	margin: 18px;
	border-bottom: none;
	font-size: 20px;
	text-decoration: none;
	color: #1B53C2;
}

.topnav-links {
	display: inline-block;
	/*max-width: 500px;*/
}

.TopNav-links a{
	float: right;
}

#logo{
	font-family: Lora, Georgia, Serif;
	color: #B3B3B3;
	font-size: 50px;
	position: relative;
	top: 10px;
	/*left: -20px;*/
}

#underline{
	border-bottom: 1px solid #1B53C2;
	padding-bottom: 2px;
}



/*/////////////////////////////
          BOTTOM NAV     
/////////////////////////////*/
.BottomNav{
	width: 100vw;
	border-collapse: collapse; 
	border-spacing: 0;
	max-width: 375px;

	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	/*margin-bottom: -26px;*/
	z-index: 50;

	margin-top: -24px;
}

.BottomNav td{
	font-family: Montserrat, Helvetica, Sans-Serif;
	font-size: 13px;
	font-weight: 700;

	text-transform: uppercase;
	letter-spacing: 1px;

	color: #B3B3B3;

	border: 1px solid #B3B3B3;
	background-color: #F2F2F2;
	width: 50vw;
	height: 29px;
	/*padding: 18px;*/
	padding-top: 10px;
	padding-bottom: 8px;
	
	
}

.BottomNav img{
	height: 28px;
}

.BottomNav a {
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: inherit;
}

.TableLink{
	width: 100%;
	height: 100%;
}

.menu-label{
	display: none;
}

@media screen and (min-width: 450px) {
	.TableLink{
	}

	.TableLink img{
		display: inline-block;
		height: 19px;
		margin-bottom: -3px;
	}

	.menu-label{
		display: inline-block;
		text-transform: capitalize;

		letter-spacing: 0px;
		font-size: 20px;
		font-weight: 400;
		/*vertical-align: middle;*/
		margin-left: 8px;
		/*line-height: 30px;*/
	}
}

#selected-nav{
	color: #1B53C2;
	background-color: white;
}

.BottomNav td  {

}

/*///////////////////////////////////
               HOME
////////////////////////////////////*/

.centered-wrapper{
	/*display: inline-block;*/
	margin: 0 auto;
	/*max-width: 375px;*/
	text-align: center;
}

.centered-wrapper a {
	color: #1B53C2;
}

/*iphone 6 and desktop*/
.gallerySlideshow{
	text-align: center;
	margin-top: -61px;
	vertical-align: middle;
	/*height: 300px;*/
	/*padding: 50px;*/
	position: relative;

	margin-top: auto;
	margin-bottom: auto;
	top: 0;
	bottom: 0;

	/*border: 1px solid blue;*/
	margin-top: 13vh;
}

.gallerySlideshow img{
	margin-right: 400px;

	transform: scale(0.9, 0.9);
	-ms-transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);

	/*border: 1px solid blue;*/

	margin-top: auto;
	margin-bottom: auto;
	top: 0;
	bottom: 0;
}

/*iphone 5*/
@media screen and (max-width: 374px) {
	.gallerySlideshow{
		margin-top: 5px;
	}

	.gallerySlideshow img{
	transform: scale(0.5, 0.5);
	-ms-transform: scale(0.5, 0.5);
	-webkit-transform: scale(0.5, 0.5);
	}

}

/*desktop*/
@media screen and (min-width: 1000px) {
	.gallerySlideshow img{
		transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
	}

	.gallerySlideshow{
		margin-top: 15vh;
	}

}

#marquee-right {
	display: absolute;
	margin-bottom: -432px;
	/*-webkit-marquee-speed: fast;*/

	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;

	vertical-align: middle;

	/*border: 2px solid red;*/

}

#marquee-left {
	
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;

	vertical-align: middle;

	/*border: 1px solid blue;*/
}

.intro-text{
	max-width: 340px;

	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;

	position: absolute;
	bottom: 50px;
}

/*AN EDUCATIONAL TOOL FOR CULTIVATING THE ART OF SERENDIPITY*/
h4{
	font-family: Montserrat, Helvetica, Sans-Serif;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;

	padding: 10px;

}

.button {
    font-family: Lora, Georgia, Serif;
    font-size: 26px;
    text-decoration: none;
    text-align: center;

    background-color: white;
    border: solid #1B53C2 2px;
    padding: 16px 32px;
    
    display: block;
    margin: 10px;
    max-width: 300px;

    margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.button a{
	border: solid #1B53C2
}

.button:active{
	background-color: #1B53C2;
	border: solid white 2px;
	color: white;
	opacity: 1;
}


footer{
	padding: 10px;
	position: absolute;
	bottom: 6px;

	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

h6{  /*footer*/
	font-family: Montserrat, Helvetica, Sans-Serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 19px;
	opacity: .5;
	margin: 0;
}

h6 a:visited{
	color: black;
}

h6 a {
	color: grey;
	text-decoration: none;
	border-bottom: 1px solid black;
}



/*////////////////////////////////////////
                  LEARN  
///////////////////////////////////////*/


.ContentWrapper{
	padding: 15px;
	text-align: center;
	margin-top: 103px;
	background-color: #E6E6E6;
}

.ContentWrapper a{
	  /*color: #1B53C2;*/
}

blockquote{
	font-family: Lora, Georgia, Serif;
	font-size: 23px;
	text-align: left;
	text-indent: -0.4em; /*Hangs quote*/
	padding: 0px;
	margin: 0 auto;
	max-width: 362px;
	margin-left: 16px;
}


.source{
	font-family: Montserrat, Helvetica, Sans-Serif;
	text-decoration: none;
	color: grey;
	font-size: 16.5px;
}

.intro-quote{
	text-align: center;
	display: inline-block;
}

.intro-quote img{
	position: relative;
	top: -168px;
	z-index: -1;
	opacity: .5;
	text-align: center;
}

.scroll-hint{
	display: block;
	text-align: center;
	z-index: -1;

	margin-top: 25vh;

	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.scroll-hint img{
	width: 20px;
	display: block;
	margin: auto;
	margin-top: 10px;
}

.spacer{
	height: 26vh;
}


#placeholder-image {
	width: 100vw;
    margin: auto;
    margin-left: -7px;
}

#definition-placeholder-image {
	width: 100vw;
    margin-left: -38px;
    margin-top: 100px;
}

#steps-button{
	font-size: 20px;
	padding: 19px;
}


/*////////////////////////////////////////
              DEFINITION  
///////////////////////////////////////*/

.definition-card{
	background-color: white;
	text-align: left;
	padding: 25px;
	max-width: 300px;

	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.definition-card div, .definition-card h2{
	display: inline-block;
}

.noun{
	font-family: Montserrat, Helvetica, Sans-Serif;
	font-size: 16px;

	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.5px;

	float: right;
	line-height: 48px;
}

.definition-card p{
	margin-top: 8px;
}


.definition-wrapper{
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;

	/*padding-left: 100px;*/

	max-width: 600px;
}

.steps-wrapper{
	text-align: left;
	padding-left: 24px;
	max-width: 900px;

	/*margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;*/
}

.left-rule{
	border-left: 1px solid black;
	margin-left: 15px;
	margin-top: 100px;
	/*position: relative;
	left: -20px;*/
	z-index: -20;

	/*display: inline-block;*/
}

#confluence{
	position: relative;
	top:-30px;
	z-index: 0;
}

.step-text{
	max-width: 400px;
}

.step-text img{
	display: inline-block;
	width: 35px;
	margin-bottom: -8px;
	margin-right: 5px;
	margin-left: -43px;
	margin-top: -30px;
	background-color: #E6E6E6;
}

.step h2{
	display: inline-block;
}

.step{
	margin-bottom: 100px;
}

.picasso{
	margin-top: 50px;

	border: 1px solid blue;
	position: relative;

	height: 370px;
}

.picasso img{
	/*max-width: 25%;*/
	transform: scale(0.35, 0.35);
	-ms-transform: scale(0.35, 0.35);
	-webkit-transform: scale(0.35, 0.35);

	position: absolute;
}



#original{
	float: left;
    margin-left: -244px;
    margin-top: -363px;
    position: absolute;
    top: 0px;
    bottom: 0px;
}
#blue{
	float: left;
    margin-left: -52px;
    margin-top: -122px;
    position: absolute;
}
#bottom-curve{
	margin-left: -144px;
    margin-top: 255px;
}
#le-jou{
	float: right;
	margin-left: -159px;
    margin-top: 258px;
}
#sheet-music{
	margin-left: 31px;
    margin-top: -4px;
}
#tan-sketch{
	margin-left: 74px;
    margin-top: 31px;
}
#white-circle{
	margin-left: 32px;
    margin-top: 129px;
}
#wooden-curves{
	margin-left: -31px;
    margin-top: -71px;
}
#background{
	float: left;
    margin-left: -289px;
    margin-top: -363px;
    position: absolute;
    top: 0px;
    bottom: 0px;
}



/*Picasso, Rand and Fuller*/
figcaption{
	font-family: Montserrat, Helvetica, Sans-Serif;
	font-weight: 700;
	font-size: 13px;

	text-transform: uppercase;
	letter-spacing: 1px;
	opacity: .5;

	margin-top: 20px;
}

.eye{
	/*border: 1px solid blue;*/

	padding-top: 50px;
	/*padding-bottom: 50px;*/

	-webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;
}

.fuller{
	/*border: 1px solid blue;*/
	height: 50vh;
}

.eye img{
	width: 95%;
	position: relative;
	left: -43px;
}	

#eye{

}

#pupil{
	position: absolute;
	/*top: 0px;*/
}

.fuller img{
	/*width: 50vw;*/
}


#portrait{
	float: left;
    margin-left: -100px;
    margin-top: 93px;
    width: 250px;
    position: absolute;
}
#drawing{
	float: right;
    margin-top: 33px;
    margin-right: -125px;
    margin-left: -72px;
    width: 400px;
}

/*Desktop definition page*/
@media screen and (min-width: 800px) {

	.ContentWrapper{
		padding: 15px;
		text-align: center;
		margin-top: 103px;
		background-color: #E6E6E6;
	}

	.definition-wrapper{
		margin-left: 0px;
		margin-right: 0px;
		

		/*padding-left: 100px;*/

		max-width: 800px;

		border: 1px solid blue;
		display: inline-block;
	}

	.steps-wrapper{
		text-align: left;
		padding-left: 24px;
		max-width: 900px;

		/*margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;*/
	}

	.left-rule{
		border-left: 1px solid black;
		margin-left: 15px;
		margin-top: 100px;
		/*position: relative;
		left: -20px;*/
		z-index: -20;

		/*display: inline-block;*/
	}

	#drawing{
		float: right;
	    margin-top: 33px;
	    margin-right: -125px;
	    margin-left: -72px;
	    width: 700px;
	}

	#portrait{
		float: left;
	    margin-left: -300px;
	    margin-top: 182px;
	    width: 350px;
	    position: absolute;
	}


}


/*////////////////////////////////////////
              EXAMPLES  
///////////////////////////////////////*/

.examples-wrapper{
	/*width: 100%;*/
	/*padding: -15px;*/
}

.example{
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;

	max-width: 800px;
	text-align: center;

	margin-top: 100px;
}

.frame{
	border: 2px solid #ED5310;
	/*z-index: -1;*/
	width: 381px;
	text-align: left;
	height: 341px;
	margin-bottom: -3px;
	display: inline-block;
}

@media screen and (max-width: 415px) {
	.frame{
		width: 98.5%;
	}
}


/* (1) XRAY*/
#img-xray{
	float: left;
	margin-left: -100px;
	margin-top: 39px;

	width: 200px;
	
	position: absolute;
}
#img-waves{
	float: right;

	margin-top: 30px;
	margin-right: -50px;
	margin-left: -100px;

	width: 245px;
}

/* (2) STICKYNOTES*/
#img-sticky-notes{
	float: left;

	margin-left: -100px;
	margin-top: 109px;

	width: 300px;
	position: absolute;
	blend-mode: multiply;
}
#img-squares{
	float: right;

	margin-top: -8px;
	margin-right: -50px;

	width: 245px;
}

/* (3) VELCRO*/
#img-velcro{
	float: left;
	width: 230px;
	position: absolute;
	margin-top: 25px;
	margin-left: -80px;
}

#img-loops{
	float: right;
    width: 300px;
    margin-top: -20px;
    margin-right: -80px;
}

/* (4) PENICILLIN*/
#img-petri{
	float: left;
    width: 300px;
    position: absolute;
    margin-left: -200px;
    margin-top: 100px;
}

#img-circles{
	float: right;
	width: 300px;
	margin-top: -20px;
	margin-right: -100px;
}



.card{
	display: inline-block;
	/*z-index: 2;*/
	position: relative;
}

.card{
	max-width: 385px;
}

.card-header {
	background-color: #ED5310;
	padding: 15px;
	max-width: 385px;
	text-align: left;
}

.card-header div{
	color: white;
	display: inline-block;
	margin-top: auto;
	margin-bottom: auto;
}

.number{
	font-family: Montserrat, Helvetica, Sans-Serif;
	font-size: 27px;
	margin-left: 15px;
	margin-right: 30px;
}

.invention{
	font-family: Lora, Georgia, Serif;
	font-size: 30px;
}

.date{
	font-family: Montserrat, Helvetica, Sans-Serif;
	font-size: 23px;

	float: right;
	line-height: 41px;
	margin-right: 15px;
}

.white-body{
	background-color: white;
	padding: 35px;
	text-align: left;
	padding-top: 21px;
}

.inventor{
	font-size: 22px;
	margin-bottom: 5px;
}

.country{
	font-family: Montserrat, Helvetica, Sans-Serif;
	font-size: 16px;

	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.5px;

	margin-bottom: 15px;
}


/*makes the examples page responsive*/
@media screen and (min-width: 800px) {
	.example{
		margin-bottom: 269px;
		position: relative;
	}

	.frame{
	    height: 397px;
	    /*width: 80vw; */
	    width: 800px;
	    display: block;
	    text-align: left;

	    z-index: -1;
	}

	.card{
		position: absolute;
		top: -110px;
	    left: 0px;

		margin-left: 30px;
	    float: left;
	    
	    
	}

	#xray{
		margin-top: 200px;
	}

	#img-xray{
		width: 30%;
		margin-left: -200px;
	}

	#img-waves{
		width: 340px;
		margin-right: -200px;
	}

	/*custom spacing for each example*/
	#sticky-notes{
		margin-bottom: 490px;
	}

	#velcro{
		margin-bottom: 500px;
	}

		/* (1) XRAY*/
	#img-xray{
		float: left;
		margin-left: 92px;
		margin-top: 39px;

		width: 300px;
		
		position: absolute;
	}
	#img-waves{
		float: right;

		margin-top: 30px;
		margin-right: -450px;
		margin-left: -100px;

		width: 345px;
	}

	/* (2) STICKYNOTES*/
	#img-sticky-notes{
		float: left;

		margin-left: 100px;
		margin-top: 109px;

		width: 300px;
		position: absolute;
		blend-mode: multiply;
	}
	#img-squares{
		float: right;

		margin-top: -8px;
		margin-right: -400px;

		width: 245px;
	}

	/* (3) VELCRO*/
	#img-velcro{
		float: left;
		width: 280px;
		position: absolute;
		margin-top: 25px;
		margin-left: 100px;
	}

	#img-loops{
		float: right;
	    width: 330px;
	    margin-top: -50px;
	    margin-right: -400px;
	}

	/* (4) PENICILLIN*/
	#img-petri{
		float: left;
    	width: 350px;
    	position: absolute;
    	margin-left: 200px;
    	margin-top: 120px;
	}

	#img-circles{
		float: right;
		width: 300px;
		margin-top: -40px;
		margin-right: -400px;
	}

}

/*/////////////////////////////
          	CLOSEUP     
/////////////////////////////*/

.GalleryNav{
	width: 100vw;
	border-collapse: collapse; 
	border-spacing: 0;
	border-top: 1px solid #B3B3B3;
	border-bottom: 1px solid #B3B3B3;
}

.GalleryNav td{
	font-size: 13px;
	font-weight: 700;

	text-transform: uppercase;
	letter-spacing: 1px;

	color: #B3B3B3;

	background-color: white;
	width: 50vw;
	height: 29px;
	/*padding: 18px;*/
	padding-top: 10px;
	padding-bottom: 8px;
	
	
}

.GalleryNav img{
	height: 28px;
}

.GalleryNav a {
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: inherit;
}

.closeup-arrow img{
	height: 22px;
}

.closeup-info-panel{
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    width: 100vw;
     -webkit-backface-visibility:hidden;
    padding: 0;
    
    background-color: white;
    border-top: 1px solid #B3B3B3;
}

.closeup-info-panel a {
    text-decoration: none;
}

.caption{
	font-size: 15px;
	line-height: 21px;

	padding: 25px;
	padding-top: 17px;
	padding-bottom: 16px;

	border-bottom: 1px solid #B3B3B3;
	border-collapse: collapse;

	/*Eventually I'll need to define the height here.*/
}


/*This effects both on export screen and closeup screen*/
.share-panel{
    padding: 15px;
    padding-left: 43px;
    color: #999999;
    font-size: 20px;

    text-align: center;
}

.share-panel img{
    height: 23px;
    margin-left: 35px;
    margin-bottom: -4px;

}

/*/////////////////////////////
          GALLERY
/////////////////////////////*/

.gallery {
    margin-top: 189px;
}

.gallery-list {
  		padding: 0.2em;
			overflow: hidden;
		}
		.gallery-list li {
			float: left;
			width: 50%;
			padding: 20px;
		}
		.gallery-list img {
			display: block;
		}
		.gallery-list li:nth-child(odd) {
			clear: left;
		}
	
		@media screen and (min-width: 1000px) {
			.gallery-list li {
		    	width: 33.3333333333333333%; 
		  	}
		  	.gallery-list li:nth-child(3n+1) {
		  		clear: left;
		  	}
		  	.gallery-list li:nth-child(odd) {
				clear: none;
			}
		}
/*		@media screen and (min-width: 55em) {
			.gallery-list li {
		    	width: 25%; 
		  	}
		  	.gallery-list li:nth-child(4n+1) {
		  		clear: left;
		  	}
		  	.gallery-list li:nth-child(3n+1) {
				clear: none;
			}
		}*/
/*		@media screen and (min-width: 72em) {
			.gallery-list li {
		    	width: 20%; 
		  	}
		  	.gallery-list li:nth-child(5n+1) {
		  		clear: left;
		  	}
		  	.gallery-list li:nth-child(4n+1) {
				clear: none;
			}
		}
		@media screen and (min-width: 90em) {
			.gallery-list li {
		    	width: 16.666666666%; 
		  	}
		  	.gallery-list li:nth-child(6n+1) {
		  		clear: left;
		  	}
		  	.gallery-list li:nth-child(5n+1) {
				clear: none;
			}
		}
*/


